body{
    background-color: rgb(91, 56, 170);
}

table, button{
    text-align: left;
    
}

button{
    cursor: pointer;
    border: 1px solid;
}
.input{
    width: 55px;
}
.item{
    display: flex;
    gap: 40px;
}
.table{
    display: flex;
    gap: 40px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: button;
}
